* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 75%;
    margin: 0 auto;
    background-image: url("Assets/796169491973.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header {
    text-align: center;
    color: white;
    height: 50px;
    padding: 20px;
    margin-top: 80px;
}



form {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 1rem;
    color: white;
    font-size: 2rem;
}

label span {
    color: red;
}

input, label, fieldset, select, textarea {
    margin: 0.5rem;
    padding: 0.5rem;
}

input[type=submit], input[type=reset] {
    margin-top: 2rem;
    background-color: red;
    color: white;
}

fieldset legend {
    padding: 0.5rem;
}

fieldset {
    padding: 1rem;
}


div > div {
    width: 30%;
}

@media (max-width: 480px) {
    * {
        scale: 0.95;
    }
}